<!-- Titulo -->
<h2 class="intro-y text-lg font-medium mt-10">
    Gestionar Usuario
</h2>

<!-- BEGIN: Modal Toggle -->
<div class="text-center">
    <a data-tw-toggle="modal" data-tw-target="#prueba" class="btn btn-primary">
        Prueba
    </a>
</div>
<!-- END: Modal Toggle -->

<!-- BEGIN: Modal Content -->
<div id="prueba" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <lucide-icon name="check-circle" class="w-16 h-16 text-success mx-auto mt-3"></lucide-icon>
                    <div class="text-3xl mt-5">Good job!</div>
                    <div class="text-slate-500 mt-2">You clicked the button!</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-primary w-24">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Modal Content -->

<!-- BEGIN: Modal Toggle -->
<div class="text-center">
    <a (click)="pruebaDialog()" class="btn btn-primary">
        Alert Dialog
    </a>
</div>
<!-- END: Modal Toggle -->

<app-alertdialog 
    [titulo]="pruebatitulo" 
    [contenido]="pruebacontenido" 
    [estilo]="pruebaestilo"
    (closestyle)="cambiarestilo($event)">
</app-alertdialog>

<!-- Cuerpo -->
<div class="grid grid-cols-12 gap-6 mt-5">

    <!-- Cabecera -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">

        <button class="btn btn-primary shadow-md mr-2" data-tw-toggle="modal" data-tw-target="#prueba">Registrar
            Usuario</button>

        <div class="hidden md:block mx-auto text-slate-500">{{Mensaje}}</div>

        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <input type="text" class="form-control w-56 box pr-10" placeholder="Search...">
                <lucide-icon class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" name="search"></lucide-icon>
            </div>
        </div>

    </div>

    <!-- Table -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="text-center whitespace-nowrap">ID</th>
                    <th class="text-center whitespace-nowrap">EMAIL</th>
                    <th class="text-center whitespace-nowrap">NOMBRE</th>
                    <th class="text-center whitespace-nowrap">APELLIDO</th>
                    <th class="text-center whitespace-nowrap">ESTADO</th>
                    <th class="text-center whitespace-nowrap">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr class="intro-x" *ngFor="let producto of lUsuarios">
                    <td class="text-center font-medium whitespace-nowrap"> {{ producto.id }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ producto.email }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ producto.firstName }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ producto.lastName }} </td>

                    <td class="w-40">
                        <div
                            [ngClass]="producto.isActive ? 'flex items-center justify-center text-success' : 'flex items-center justify-center text-danger'">
                            <lucide-icon class="w-4 h-4 mr-2" [name]="producto.isActive ? 'check-square' : 'x-square'">
                            </lucide-icon>
                            {{producto.isActive ? 'Activo' : 'Inactivo'}}
                        </div>
                    </td>

                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">

                            <button class="flex items-center mr-3">
                                <lucide-icon class="w-4 h-4 mr-1" name="check-square"></lucide-icon>
                                Editar
                            </button>

                            <button class="flex items-center text-primary" (click)="verUsuario(producto.id)">
                                <lucide-icon class="w-4 h-4 mr-1" name="eye"></lucide-icon>
                                Ver
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginacion -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">

        <nav class="w-full sm:w-auto sm:mr-auto">
            <ul class="pagination">

                <li class="page-item">
                    <a class="page-link" href="#">
                        <lucide-icon class="w-4 h-4" name="chevrons-left"></lucide-icon>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <lucide-icon class="w-4 h-4" name="chevron-left"></lucide-icon>
                    </a>
                </li>
                <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                <li class="page-item active"> <a class="page-link" href="#">2</a> </li>
                <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <lucide-icon class="w-4 h-4" name="chevron-right"></lucide-icon>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <lucide-icon class="w-4 h-4" name="chevrons-right"></lucide-icon>
                    </a>
                </li>

            </ul>
        </nav>

        <select class="w-20 form-select box mt-3 sm:mt-0">
            <option>10</option>
            <option>25</option>
            <option>35</option>
            <option>50</option>
        </select>

    </div>

</div>