<!-- Titulo -->
<h2 class="intro-y text-lg font-medium mt-10">
    Gestionar Cliente
</h2>

<!-- Cuerpo -->
<div class="grid grid-cols-12 gap-6 mt-5">

    <!-- Cabecera -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <input [formControl]="filtro" type="text" class="form-control w-56 box pr-10" placeholder="Buscar...">
                <lucide-icon class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" name="search"></lucide-icon>
            </div>
        </div>
        <div class="hidden md:block mx-auto text-slate-500">{{Mensaje}}</div>
    </div>

    <!-- Table -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="text-center whitespace-nowrap">ID</th>
                    <th class="text-center whitespace-nowrap">NOMBRE</th>
                    <th class="text-center whitespace-nowrap">DOCUMENTO</th>
                    <th class="text-center whitespace-nowrap">TELÉFONO</th>
                    <th class="text-center whitespace-nowrap">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr class="intro-x"
                    *ngFor="let cliente of lClientes | filterPipe: filtro.value | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td class="text-center font-medium whitespace-nowrap"> {{ cliente.id }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ cliente.name ? cliente.name : '-'}} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ cliente.numberDocument }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ cliente.phone ? cliente.phone : '-'}} </td>

                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <button class="flex items-center mr-3" (click)="actualizarCliente(cliente.id)">
                                <lucide-icon class="w-4 h-4 mr-1" name="check-square"></lucide-icon>
                                Editar
                            </button>

                            <button class="flex items-center text-primary" (click)="verCliente(cliente.id)">
                                <lucide-icon class="w-4 h-4 mr-1" name="eye"></lucide-icon>
                                Ver
                            </button>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="intro-y col-span-12 text-right">
        <pagination-controls 
            previousLabel="Anterior" 
            nextLabel="Siguiente" 
            (pageChange)="p = $event">
        </pagination-controls>
    </div>
</div>