<!-- Top Bar -->
<div class="top-bar-boxed h-[70px] z-[51] relative mt-12 -mx-3 sm:-mx-8 px-3 sm:px-8 md:pt-0 mb-12 pb-4">
    <div class="h-full flex items-center">

        <!-- Logo -->
        <a class="intro-x flex items-center justify-center pt-4 pb-4">
            <img class="w-logo" src="../../../../assets/images/QNLogo.jpeg">
        </a>

        <!-- Breadcrumb -->
        <!-- <nav aria-label="breadcrumb" class="-intro-x h-full mr-auto">
            <ol class="breadcrumb breadcrumb-light">
                <li class="breadcrumb-item"><a href="#">Application</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav> -->

        <!-- Buscador -->
        <!-- <div class="intro-x relative mr-3 sm:mr-6">

            <div class="search hidden sm:block">
                <input type="text" class="search__input form-control border-transparent" placeholder="Search...">
                <i data-lucide="search" class="search__icon dark:text-slate-500"></i>
            </div>

            <a class="notification notification--light sm:hidden" href="">
                <i data-lucide="search" class="notification__icon dark:text-slate-500"></i>
            </a>
        </div> -->

        <!-- Notificaciones -->
        <!-- <div class="intro-x dropdown mr-4 sm:mr-6">

            <div class="dropdown-toggle notification notification--bullet cursor-pointer" role="button"
                aria-expanded="false" data-tw-toggle="dropdown">
                <i data-lucide="bell" class="notification__icon dark:text-slate-500"></i>
            </div>
        </div> -->

        <!-- Account -->
        <!-- <div class="intro-x dropdown w-8 h-8">

            <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110"
                role="button" aria-expanded="false" data-tw-toggle="dropdown">
                <img alt="Midone - HTML Admin Template" src="">
            </div>

        </div> -->

    </div>
</div>

<!-- Menu -->
<nav class="top-nav">
    <ul>
        <li>
            <a class="top-menu top-menu--active">
                <div class="top-menu__icon"> <i data-lucide="home"></i> </div>
                <div class="top-menu__title"> Dashboard <i data-lucide="chevron-down" class="top-menu__sub-icon"></i>
                </div>
            </a>
        </li>
    </ul>
</nav>

<!-- Contenido -->
<div class="wrapper wrapper--top-nav">
    <div class="wrapper-box">
        <div class="content">

            <!-- Titulo -->
            <h2 class="intro-y text-lg font-medium mt-10">
                Catálogo
            </h2>

            <div class="grid grid-cols-12 gap-6 mt-5">

                <!-- Buscador -->
                <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
                    <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
                        <div class="w-56 relative text-slate-500">
                            <input type="text" class="form-control w-56 box pr-10" placeholder="Search...">
                            <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                        </div>
                    </div>
                </div>

                <!-- Lista de Productos -->
                <div class="intro-y col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3" *ngFor="let catalogo of lCatalogo">
                    <div class="box">
                        <div class="p-5">
                            <div
                                class="h-40 2xl:h-56 image-fit rounded-md overflow-hidden before:block before:absolute before:w-full before:h-full before:top-0 before:left-0 before:z-10 before:bg-gradient-to-t before:from-black before:to-black/10">
                                <img class="rounded-md" [src]="catalogo.urlImage">

                                <div class="absolute bottom-0 text-white px-5 pb-6 z-10">
                                    <span class="text-white/90 text-xs mt-3">Código: {{catalogo.code}}</span>
                                    <a href="" class="block font-medium text-base">{{catalogo.name}}</a>
                                </div>
                            </div>

                            <div class="text-slate-600 dark:text-slate-500 mt-5">
                                <div class="flex items-center">
                                    <lucide-icon class="w-4 h-4 mr-2" name="link"></lucide-icon>
                                    Precio: {{catalogo.salesPrice}} </div>
                                <div class="flex items-center mt-2">
                                    <lucide-icon class="w-4 h-4 mr-2" name="layers"></lucide-icon>
                                    Stock: {{catalogo.stock}}</div>
                                <div class="flex items-center mt-2">
                                    <lucide-icon class="w-4 h-4 mr-2" name="check-square"></lucide-icon>
                                    Tipo: {{catalogo.type}}
                                </div>
                            </div>
                        </div>

                        <div
                            class="flex justify-center lg:justify-end items-center p-5 border-t border-slate-200/60 dark:border-darkmode-400">
                            <a class="flex items-center text-primary mr-auto" href="javascript:;"> <i data-lucide="eye"
                                    class="w-4 h-4 mr-1"></i> Preview </a>
                            <a class="flex items-center mr-3" href="javascript:;"> <i data-lucide="check-square"
                                    class="w-4 h-4 mr-1"></i> Edit </a>
                            <a class="flex items-center text-danger" href="javascript:;" data-tw-toggle="modal"
                                data-tw-target="#delete-confirmation-modal"> <i data-lucide="trash-2"
                                    class="w-4 h-4 mr-1"></i> Delete </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>