<!-- Titulo -->
<h2 class="intro-y text-lg font-medium mt-10">
    Gestionar Almacén
</h2>

<!-- Cuerpo -->
<div class="grid grid-cols-12 gap-6 mt-5">

    <!-- Cabecera -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">

        <button class="btn btn-primary shadow-md mr-2">Registrar Almacén</button>

        <div class="hidden md:block mx-auto text-slate-500">Mensaje de prueba</div>

        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <input type="text" class="form-control w-56 box pr-10" placeholder="Search...">
                <lucide-icon class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" name="search"></lucide-icon>
            </div>
        </div>

    </div>

    <!-- Table -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="text-center whitespace-nowrap">ID</th>
                    <th class="text-center whitespace-nowrap">CÓDIGO</th>
                    <th class="text-center whitespace-nowrap">NOMBRE</th>
                    <th class="text-center whitespace-nowrap">TIPO</th>
                    <th class="text-center whitespace-nowrap">ESTADO</th>
                    <th class="text-center whitespace-nowrap">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr class="intro-x">
                    <td class="text-center font-medium whitespace-nowrap"> 001 </td>
                    <td class="text-center font-medium whitespace-nowrap"> ALMACEN - 001</td>
                    <td class="text-center font-medium whitespace-nowrap"> ALMACEN NOMBRE </td>
                    <td class="text-center font-medium whitespace-nowrap"> ALMACEN TIPO </td>

                    <td class="w-40">
                        <div class="flex items-center justify-center text-success">
                            <lucide-icon class="w-4 h-4 mr-2" name="check-square"></lucide-icon>
                            Active
                        </div>
                    </td>

                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">

                            <button class="flex items-center mr-3">
                                <lucide-icon class="w-4 h-4 mr-1" name="check-square"></lucide-icon>
                                Editar
                            </button>

                            <button class="flex items-center text-primary">
                                <lucide-icon class="w-4 h-4 mr-1" name="eye"></lucide-icon>
                                Ver
                            </button>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <!-- Paginacion -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">

        <nav class="w-full sm:w-auto sm:mr-auto">
            <ul class="pagination">

                <li class="page-item">
                    <a class="page-link" href="#"> 
                        <lucide-icon class="w-4 h-4" name="chevrons-left"></lucide-icon>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#">
                        <lucide-icon class="w-4 h-4" name="chevron-left"></lucide-icon>
                    </a>
                </li>

                <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
                <li class="page-item"> <a class="page-link" href="#">2</a> </li>
                <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                <li class="page-item">
                    <a class="page-link" href="#"> 
                        <lucide-icon class="w-4 h-4" name="chevron-right"></lucide-icon>        
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"> 
                        <lucide-icon class="w-4 h-4" name="chevrons-right"></lucide-icon>
                    </a>
                </li>

            </ul>
        </nav>

        <select class="w-20 form-select box mt-3 sm:mt-0">
            <option>10</option>
            <option>25</option>
            <option>35</option>
            <option>50</option>
        </select>

    </div>

</div>