<div class="modal-dialog modal-xl">
    <div class="modal-content">

        <!-- Cabecera -->
        <div class="modal-header">
            <h2 class="font-medium intro-y text-lg mr-auto">Detalle de la Asignacion</h2>
        </div>
        <!-- Footer -->
        <div class="modal-footer intro-y">


            <button class="btn btn-secondary w-20 mr-3" (click)="salir()">Atrás
            </button>
            <button class="btn btn-primary w-30 mr-3" (click)="verDetalle()">Ver detalle del pedido
            </button>
            <button class="btn btn-danger w-30 mr-3" (click)="eliminar()" >Eliminar asignacion
            </button>
        </div>
    </div>

</div>