<!-- Cabecera -->
<div class="modal-header">
    <h2 class="intro-y font-medium text-lg mr-auto text-center">
        Detalle de la Asignacion
    </h2>
</div>

<!-- Footer -->
<div class="modal-footer">
    <button class="btn btn-primary w-30 mr-3" (click)="verDetalle()">
        Ver detalle del pedido
    </button>
    <button class="btn btn-danger w-30 mr-3" (click)="eliminar()">
        Eliminar asignacion
    </button>
    <button class="btn btn-secondary w-20" (click)="salir()">Atrás
    </button>
</div>