<div class="modal-dialog modal-xl">
    <div class="modal-content">

        <!-- Cabecera -->
        <div class="modal-header">
            <h2 class="font-medium intro-y text-lg mr-auto">Registrar Producto</h2>
        </div>

        <!-- Cuerpo -->
        <div class="modal-body p-0">
            <!-- Inputs -->
            <div class="intro-y box py-8 sm:py-8">
                <div class="px-8 sm:px-8 dark:border-darkmode-400">

                    <form [formGroup]="formProducto">
                        <div class="grid grid-cols-12 gap-4 gap-y-5">

                            <!-- Código -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Código</label>
                                <input formControlName="code" type="text" class="form-control"
                                    placeholder="Ingrese el código">
                            </div>

                            <!-- Nombre -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Nombre</label>
                                <input formControlName="name" type="text" class="form-control"
                                    placeholder="Ingrese el nombre">
                            </div>

                            <!-- Categoria -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Categoría</label>
                                <select class="form-select sm:mr-2 dropdown-content" formControlName="categoryId">
                                    <option *ngFor="let categoria of lCategorias" [value]="categoria.id">
                                        {{categoria.name}}
                                    </option>
                                </select>
                            </div>

                            <!-- Mostrar en Catalogo -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Mostrar en Catálogo</label>
                                <select class="form-select sm:mr-2 dropdown-content" formControlName="showInCatalog">
                                    <option *ngFor="let show of lShowCatalog" [ngValue]="show.value">
                                        {{show.name}}
                                    </option>
                                </select>
                            </div>

                            <!-- Precio de compra -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Precio de compra</label>
                                <input formControlName="purchasePrice" type="number" class="form-control"
                                    placeholder="Ingrese el precio de compra">
                            </div>

                            <!-- Precio de venta -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Precio de venta</label>
                                <input formControlName="salesPrice" type="number" class="form-control"
                                    placeholder="Ingrese el precio de venta">
                            </div>

                            <!-- Stock Minimo -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Stock Minimo</label>
                                <input formControlName="minStock" type="number" class="form-control"
                                    placeholder="Ingrese el stock minimo">
                            </div>

                            <!-- Stock Maximo -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Stock Maximo</label>
                                <input formControlName="maxStock" type="number" class="form-control"
                                    placeholder="Ingrese el stock máximo">
                            </div>

                            <!-- Stock -->
                            <div class="intro-y col-span-12 sm:col-span-4">
                                <label class="form-label">Stock</label>
                                <input formControlName="stock" type="number" class="form-control"
                                    placeholder="Ingrese el stock">
                            </div>

                            <!-- Imagen -->
                            <div class="intro-y col-span-12 sm:col-span-12">
                                <label class="form-label">Imagen</label>
                                <input formControlName="uploadFile" type="file"
                                    (change)="handleFileInput($event)"
                                    accept="image/png, image/gif, image/jpeg" class="form-control"
                                    placeholder="Ingrese el enlace de la imagen">
                            </div>

                            <!-- Imagen -->
                            <!-- <div class="intro-y col-span-12 sm:col-span-12">
                                <div
                                    class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                                    <h2 class="font-medium text-base mr-auto">
                                        Single File Upload
                                    </h2>
                                    <div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">
                                        <label class="form-check-label ml-0" for="show-example-1">Show example
                                            code</label>
                                        <input id="show-example-1" data-target="#single-file-upload"
                                            class="show-code form-check-input mr-0 ml-3" type="checkbox">
                                    </div>
                                </div>
                                <div id="single-file-upload" class="p-5">
                                    <div class="preview">
                                        <form data-single="true" action="/file-upload" class="dropzone">
                                            <div class="fallback">
                                                <input name="file" type="file" />
                                            </div>
                                            <div class="dz-message" data-dz-message>
                                                <div class="text-lg font-medium">Drop files here or click to upload.
                                                </div>
                                                <div class="text-slate-500"> This is just a demo dropzone. Selected
                                                    files are <span class="font-medium">not</span> actually uploaded.
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div> -->

                        </div>
                    </form>


                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer intro-y">

            <button class="btn btn-primary w-20 mr-2" (click)="registrarProducto()">Registrar
            </button>

            <button class="btn btn-secondary w-20" (click)="salir()">Atrás
            </button>
        </div>


    </div>
</div>
