<div class="modal-dialog modal-xl">
  <div class="modal-content">

    <!-- Cabecera -->
    <div class="modal-header">
      <h2 class="font-medium intro-y text-lg mr-auto">Crear Orden Compra</h2>
    </div>

    <!-- Cuerpo -->
    <div class="modal-body p-0">
      <!-- Inputs -->
      <div class="intro-y box py-8 sm:py-8">
        <div class="px-8 sm:px-8 dark:border-darkmode-400">

          <form [formGroup]="formOrdenCompra">
            <div class="grid grid-cols-12 gap-4 gap-y-5">

              <div class="intro-y col-span-12 sm:col-span-6">
                <label class="form-label">Proveedores</label>
                <select class="form-select sm:mr-2 dropdown-content" formControlName="supplierId">
                  <option *ngFor="let supplier of lSuppliers" [value]="supplier.id">
                    {{supplier.name}}
                  </option>
                </select>
              </div>

              <div class="intro-y col-span-12 sm:col-span-6">
                <label class="form-label">Fecha de llegada</label>
                <input formControlName="arrivalDate" type="date" class="form-control">
              </div>


              <div class="intro-y col-span-12 ">
                <label class="form-label">Comentarios</label>
                <textarea formControlName="comments" class="form-control"></textarea>
              </div>
            </div>

          </form>


          <div class="grid grid-cols-12 gap-4 gap-y-3">
            <div class="intro-y col-span-12">
              <h4 class="font-medium intro-y text-md mr-auto">Lista Productos</h4>

            </div>

            <div class="intro-y col-span-4">
              <label class="form-label">Producto</label>
              <select class="form-select sm:mr-2 dropdown-content" [(ngModel)]="producto">
                <option [value]="null" disabled>Selecciona el Producto</option>
                <option *ngFor="let product of lProducts" [value]="product.id">
                  {{product.name}}
                </option>
              </select>
            </div>
            <div class="intro-y col-span-4">
              <label class="form-label">Precio</label>
              <input type="number" class="form-control" min="0" [(ngModel)]="precio">
            </div>
            <div class="intro-y col-span-4">
              <label class="form-label">Cantidad</label>
              <input type="number" class="form-control" min="0" [(ngModel)]="cantidad">
            </div>
            <div class="intro-y col-span-12 flex items-end content-end justify-end">
              <button class="btn btn-primary" (click)="addProductPurchaseOrder()"
                [disabled]="!precio || !producto || !cantidad">
                Agregar Producto
                <lucide-icon class="w-4 h-4" name="plus"></lucide-icon>
              </button>
            </div>
          </div>

          <table class="table table-report text-center" *ngIf="formOrdenCompra.value.purchaseOrderDetails.length > 0">
            <thead>
              <tr>
                <th class="text-center">Producto</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of formOrdenCompra.value.purchaseOrderDetails" class="intro-y">
                <td class="text-center">{{getNameProduct(product.productId).name}}</td>
                <td class="text-center">{{product.purchasePrice}}</td>
                <td class="text-center">{{product.quantity}}</td>
                <td class="text-center">
                  <button class="btn btn-primary" (click)="deleteProductPurchaseOrder(product.productId)">
                    <lucide-icon class="w-4 h-4" name="trash-2"></lucide-icon>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer intro-y">


      <button class="btn btn-secondary w-20 mr-3" (click)="salir()">Atrás
      </button>
      <button class="btn btn-primary w-30 " (click)="registerPurchaseOrder()" [disabled]="isInvalidForm()">Registrar
        Orden Compra
      </button>
    </div>
  </div>
</div>
