<!-- Cabecera -->
<div class="modal-header">
    <h2 class="intro-y font-medium text-lg mr-auto">Actualizar Usuario</h2>
</div>

<!-- Cuerpo -->
<div class="modal-body px-5 sm:px-10">
    <form [formGroup]="formUsuario">
        <div class="grid grid-cols-12 gap-4 gap-y-5">

            <!-- Primer Nombre -->
            <div class="intro-y col-span-6">
                <label class="form-label">Primer Nombre</label>
                <input formControlName="firstName" type="text" class="form-control">
                <error-message [formControlError]="formUsuario.controls['firstName']"></error-message>
            </div>

            <!-- Segundo Nombre -->
            <div class="intro-y col-span-6">
                <label class="form-label">Segundo Nombre</label>
                <input formControlName="surName" type="text" class="form-control">
                <error-message [formControlError]="formUsuario.controls['surName']"></error-message>
            </div>

            <!-- Apellido -->
            <div class="intro-y col-span-6">
                <label class="form-label">Apellido</label>
                <input formControlName="lastName" type="text" class="form-control">
                <error-message [formControlError]="formUsuario.controls['lastName']"></error-message>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="intro-y col-span-6">
                <label class="form-label">Fecha de Nacimiento</label>
                <input formControlName="bornDate" type="date" class="form-control">
                <error-message [formControlError]="formUsuario.controls['bornDate']"></error-message>
            </div>

            <!-- Estado -->
            <div class="intro-y col-span-12 sm:col-span-12">
                <label for="input-wizard-4" class="form-label">Estado</label>
                <select class="form-select sm:mr-2" formControlName="isActive">
                    <option [value]="estado.status" *ngFor="let estado of lEstados">
                        {{estado.name}}
                    </option>
                </select>
                <error-message [formControlError]="formUsuario.controls['isActive']"></error-message>
            </div>
            
        </div>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer intro-y">
    <button class="btn btn-primary mr-3 w-30" (click)="actualizarUsuario()">Actualizar</button>
    <button class="btn btn-secondary w-30" (click)="salir()">Atrás</button>
</div>