<!-- Cabecera -->
<div class="flex items-center mt-8">
    <h2 class="intro-y text-lg font-medium mr-auto">
        Actualizar Usuario
    </h2>
</div>

<!-- Inputs -->
<div class="intro-y box py-10 sm:py-20 mt-5">
    <div class="px-5 sm:px-20 dark:border-darkmode-400">
        <div class="font-medium text-base">ID Usuario: {{idUsuario}}</div>
        <form [formGroup]="formUsuario">
            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                
                <!-- Primer Nombre -->
                <div class="intro-y col-span-6 mt-5">
                    <label class="form-label">Primer Nombre</label>
                    <input formControlName="firstName" type="text" class="form-control">
                </div>

                <!-- Apellido -->
                <div class="intro-y col-span-6 mt-5">
                    <label class="form-label">Apellido</label>
                    <input formControlName="lastName" type="text" class="form-control">
                </div>

                <!-- Segundo Nombre -->
                <div class="intro-y col-span-6 mt-5">
                    <label class="form-label">Segundo Nombre</label>
                    <input formControlName="surName" type="text" class="form-control">
                </div>

                <!-- Fecha de Nacimiento -->
                <div class="intro-y col-span-6 mt-5">
                    <label class="form-label">Fecha de Nacimiento</label>
                    <input formControlName="bornDate" type="date" class="form-control">
                </div>

                 <!-- Estado -->
                 <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-4" class="form-label">Estado</label>
                    <select class="form-select sm:mr-2" formControlName="isActive">
                        <option [value]="estado.status" *ngFor="let estado of lEstados">
                            {{estado.name}}
                        </option>
                    </select>
                </div>

                <!-- Boton de Registrar y Atras -->
                <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <button class="btn btn-primary w-24" (click)="actualizarUsuario()">Actualizar</button>
                    <button class="btn btn-secondary mx-2 w-24" (click)="cerrarVentana()">Atrás</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div [ngClass]="'modal' + modalClass" style="margin-top: 0px; margin-left: 0px; padding-left: 0px; z-index: 10000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <lucide-icon name="check-circle" class="w-16 h-16 text-success mx-auto mt-3"></lucide-icon>
                    <div class="text-3xl mt-5">¡Éxito!</div>
                    <div class="text-slate-500 mt-2">Se actualizó correctamente.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-primary w-24"
                        (click)="modificarCSSModal()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>