<div id="map" class="map-container">

    <!-- Formulario -->
    <form [formGroup]="formDireccion">

        <!-- Direccion -->
        <div class="input-map">

            <div class="input-group">
                <span class="input-group-text">
                    <i class="ci-search"></i>
                </span>
                <input [class]="'form-control form-control-sm '+ cssValidate('address')"
                    placeholder="Ingrese su dirección" formControlName="address" (keyup)="getAdress()">
            </div>

            <div *ngIf="showResults" @opacity class="dropdown-menu show w-100">
                <a *ngFor="let address of lAddresses" class="dropdown-item d-flex click"
                    (click)="getPlacesByQuery(address)">
                    <i class="ci-map-pin-solid me-3 align-self-center"></i>
                    <div class="search-results">
                        <p class="m-0 fw-bold">{{address.text}}</p>
                        <p class="m-0">{{address.place_name}}</p>
                    </div>
                </a>
            </div>
        </div>

    </form>

    <button class="btn btn-primary btn-map" (click)="registrarAddress()">
        Ingresar dirección
    </button>
</div>