<!-- Titulo -->
<h2 class="intro-y text-lg font-medium mt-10">
    Gestionar Pedido
</h2>

<!-- Cuerpo -->
<div class="grid grid-cols-12 gap-6 mt-5">

    <!-- Cabecera -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">

        <div class="hidden md:block mx-auto text-slate-500">{{Mensaje}}</div>

        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <input [formControl]="filtro" type="text" class="form-control w-56 box pr-10" placeholder="Buscar...">
                <lucide-icon class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" name="search"></lucide-icon>
            </div>
        </div>

    </div>

    <!-- Table -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="text-center whitespace-nowrap">ID</th>
                    <th class="text-center whitespace-nowrap">CLIENTE</th>
                    <th class="text-center whitespace-nowrap">COMENTARIO</th>
                    <th class="text-center whitespace-nowrap">FECHA CREADA</th>
                    <th class="text-center whitespace-nowrap">FECHA ACTUALIZACIÓN</th>
                    <th class="text-center whitespace-nowrap">CORREO</th>
                    <th class="text-center whitespace-nowrap">ESTADO</th>
                    <th class="text-center whitespace-nowrap">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr class="intro-x" *ngFor="let pedido of lPedidos | filterPipe: filtro.value | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td class="text-center font-medium whitespace-nowrap"> {{ pedido.id }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ pedido.client.name }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ pedido.comments }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ pedido.createdAt | date: 'dd/MM/yyyy' }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ pedido.updatedAt | date: 'dd/MM/yyyy' }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ pedido.client.email }} </td>
                    
                    <td class="w-40">

                        <div *ngIf="pedido.status=='Creado'" class="flex items-center justify-center text-primary">
                            <lucide-icon class="w-4 h-4 mr-2" name="file-plus-2"></lucide-icon>
                            {{ pedido.status }}
                        </div>

                        <div *ngIf="pedido.status=='Aceptado'"class="flex items-center justify-center text-success">
                            <lucide-icon class="w-4 h-4 mr-2" name="check-square"></lucide-icon>
                            {{ pedido.status }}
                        </div>

                        <div *ngIf="pedido.status=='Listo para enviar'" class="flex items-center justify-center text-warning">
                            <lucide-icon class="w-4 h-4 mr-2" name="package-plus"></lucide-icon>
                            {{ pedido.status }}
                        </div>

                        <div *ngIf="pedido.status=='En camino'" class="flex items-center justify-center text-secondary">
                            <lucide-icon class="w-4 h-4 mr-2" name="baggage-claim"></lucide-icon>
                            {{ pedido.status }}
                        </div>

                        <div *ngIf="pedido.status=='Entregado'" class="flex items-center justify-center text-dark">
                            <lucide-icon class="w-4 h-4 mr-2" name="package-check"></lucide-icon>
                            {{ pedido.status }}
                        </div>

                        <div *ngIf="pedido.status=='Rechazado'" class="flex items-center justify-center text-danger">
                            <lucide-icon class="w-4 h-4 mr-2" name="package-x"></lucide-icon>
                            {{ pedido.status }}
                        </div>

                    </td>

                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">

                            <button class="flex items-center mr-3" (click)="actualizarPedido(pedido.id)">
                                <lucide-icon class="w-4 h-4 mr-1" name="check-square"></lucide-icon>
                                Editar
                            </button>

                            <button class="flex items-center text-primary" (click)="verPedido(pedido.id)">
                                <lucide-icon class="w-4 h-4 mr-1" name="eye"></lucide-icon>
                                Ver
                            </button>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <div class="intro-y col-span-12 text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>


</div>