<div class="grid grid-cols-12 gap-6">

    <div class="col-span-12 2xl:col-span-12">
        <div class="grid grid-cols-12 gap-6">

            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Dashboard
                    </h2>
                    <a class="ml-auto flex items-center text-primary" (click)="recargarData()">
                        <lucide-icon class="w-4 h-4 mr-3" name="refresh-ccw">
                        </lucide-icon>
                        Recargar Data
                    </a>
                </div>

                <div class="grid grid-cols-12 gap-6 mt-5">

                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">

                            <div class="box p-5 flex justify-between">
                                <div class="col-span-6">
                                    <lucide-icon class="report-box__icon text-primary" name="users">
                                    </lucide-icon>

                                    <div class="text-3xl font-medium leading-8 mt-6">{{lUser.length}}</div>
                                    <div class="text-base text-slate-500 mt-1">Usuarios</div>
                                </div>

                                <div class="col-span-6 self-center">
                                    <div class="report-box__indicator bg-success tooltip cursor-pointer">
                                        <lucide-icon class="w-4 h-4 ml-0.5 mr-2" name="user-check">
                                        </lucide-icon>
                                        <span class="mr-2">Usuarios activos: {{lUserActive.length}}</span>
                                    </div>
                                    <div class="report-box__indicator bg-danger tooltip cursor-pointer mt-2">
                                        <lucide-icon class="w-4 h-4 ml-0.5 mr-2" name="user-x">
                                        </lucide-icon>
                                        <span class="mr-2">Usuarios inactivos: {{lUserInactive.length}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">

                            <div class="box p-5 flex justify-between">
                                <div class="col-span-6">
                                    <lucide-icon class="report-box__icon text-primary" name="package">
                                    </lucide-icon>

                                    <div class="text-3xl font-medium leading-8 mt-6">{{lProduct.length}}</div>
                                    <div class="text-base text-slate-500 mt-1">Productos</div>
                                </div>

                                <div class="col-span-6 self-center">
                                    <div class="report-box__indicator bg-success tooltip cursor-pointer">
                                        <lucide-icon class="w-4 h-4 ml-0.5 mr-2" name="user-check">
                                        </lucide-icon>
                                        <span class="mr-2">En catálogo: {{lProductInCatalog.length}}</span>
                                    </div>
                                    <div class="report-box__indicator bg-danger tooltip cursor-pointer mt-2">
                                        <lucide-icon class="w-4 h-4 ml-0.5 mr-2" name="user-x">
                                        </lucide-icon>
                                        <span class="mr-2">Fuera de catálogo: {{lProductOutCatalog.length}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">

                            <div class="box p-5 flex justify-between">
                                <div class="col-span-6">
                                    <lucide-icon class="report-box__icon text-primary" name="package">
                                    </lucide-icon>

                                    <div class="text-3xl font-medium leading-8 mt-6">{{lPedido.length}}</div>
                                    <div class="text-base text-slate-500 mt-1">Pedidos</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">

                            <div class="box p-5 flex justify-between">
                                <div class="col-span-6">
                                    <lucide-icon class="report-box__icon text-primary" name="file-text">
                                    </lucide-icon>

                                    <div class="text-3xl font-medium leading-8 mt-6">{{lPurchaseOrder.length}}</div>
                                    <div class="text-base text-slate-500 mt-1">Ordenes de Compra</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Pedidos Reporte -->
            <div class="col-span-12 lg:col-span-6 mt-8">
                <div class="intro-y block sm:flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Pedidos en el año 2022
                    </h2>
                </div>
                <div class="intro-y box p-5 mt-12 sm:mt-5">
                    <div class="intro-x">
                        <div class="intro-y col-span-12 sm:col-span-6">
                            <div class="chart-container">
                                <canvas id="pedidosChart">{{ pedidosChart }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pedidos Reporte -->
            <div class="col-span-12 lg:col-span-3 mt-8">
                <div class="intro-y block sm:flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Pedidos
                    </h2>
                </div>
                <div class="intro-y box p-5 mt-12 sm:mt-5">
                    <div *ngFor="let pedido of lPedidoEstados" class="intro-x">
                        <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                            <div class="ml-4 mr-auto">
                                <div class="font-medium">{{pedido.name}}</div>
                            </div>
                            <div class="text-primary font-medium">{{pedido.total }} {{pedido.total == 1 ? 'pedido':
                                'pedidos' }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Orden Compra Reporte -->
            <div class="col-span-12 lg:col-span-3 mt-8">
                <div class="intro-y block sm:flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Ordenes de Compra
                    </h2>
                </div>
                <div class="intro-y box p-5 mt-12 sm:mt-5">
                    <div *ngFor="let purchaseOrder of lPurchaseOrderEstados" class="intro-x">
                        <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                            <div class="ml-4 mr-auto">
                                <div class="font-medium">{{purchaseOrder.name}}</div>
                            </div>
                            <div class="text-primary font-medium">{{purchaseOrder.total }} {{purchaseOrder.total == 1 ?
                                'orden compra':
                                'ordenes compra' }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>