<!-- Cabecera -->
<div class="modal-header">
    <h2 class="intro-y font-medium text-lg mr-auto">Registar Asignación</h2>
</div>

<!-- Cuerpo -->
<div class="modal-body px-5 sm:px-10">
    <form [formGroup]="formAsignacion">
        <div class="grid grid-cols-12 gap-4 gap-y-5">

            <div class="intro-y col-span-12 sm:col-span-6">
                <label class="form-label">Pedido</label>
                <select class="form-select sm:mr-2 dropdown-content" formControlName="pedidoId">
                    <option *ngFor="let pedido of pedidos" [ngValue]="pedido.id">
                        {{pedido.id + ' - ' + pedido.clientName}}
                    </option>
                </select>
            </div>

            <div class="intro-y col-span-12 sm:col-span-6">
                <label class="form-label">Fecha de llegada</label>
                <input formControlName="arrivalDate" type="date" class="form-control">
            </div>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer intro-y">
    <button class="btn btn-primary w-30 mr-3" (click)="registrar()" [disabled]="isInvalidForm()">
        Registrar Asignación
    </button>
    <button class="btn btn-secondary w-20" (click)="salir()">
        Atrás
    </button>
</div>