<!-- Cabecera -->
<div class="modal-header">
    <h2 class="intro-y font-medium text-lg mr-auto">Actualizar Proveedor</h2>
</div>


<!-- Cuerpo -->
<div class="modal-body px-5 sm:px-10">
    <form [formGroup]="formProveedor">
        <div class="grid grid-cols-12 gap-4 gap-y-5">

            <!-- RUC-->
            <div class="intro-y col-span-6">
                <label class="form-label">Ruc</label>
                <input formControlName="ruc" type="text" maxLength="20" [class]="'form-control ' + cssValidate('ruc')">
                <error-message [formControlError]="formProveedor.controls['ruc']"></error-message>

                <!-- <div *ngIf="formProveedor.controls['ruc'].hasError('required')" class="text-danger mt-2">Este campo esta
                    vacio</div>
                <div *ngIf="formProveedor.controls['ruc'].hasError('pattern')" class="text-danger mt-2">Solamente
                    numeros</div>
                <div *ngIf="formProveedor.controls['ruc'].hasError('maxlength')" class="text-danger mt-2">Maximo de 11
                    caracteres</div> -->
            </div>

            <!-- name-->
            <div class="intro-y col-span-6">
                <label class="form-label">Nombre</label>
                <input formControlName="name" type="text" maxLength="40"
                    [class]="'form-control ' + cssValidate('name')">
                <error-message [formControlError]="formProveedor.controls['name']"></error-message>

                <!-- <div *ngIf="formProveedor.controls['name'].hasError('required')" class="text-danger mt-2">Este campo
                    esta vacio</div>
                <div *ngIf="formProveedor.controls['name'].hasError('maxlength')" class="text-danger mt-2">Maximo de 30
                    caracteres</div> -->
            </div>

            <!-- area-->
            <div class="intro-y col-span-6">
                <label class="form-label">Area</label>
                <input formControlName="area" type="text" maxLength="40"
                    [class]="'form-control ' + cssValidate('area')">
                <error-message [formControlError]="formProveedor.controls['area']"></error-message>

                <!-- <div *ngIf="formProveedor.controls['area'].hasError('required')" class="text-danger mt-2">Este campo
                    esta vacio</div>
                <div *ngIf="formProveedor.controls['area'].hasError('maxlength')" class="text-danger mt-2">Maximo de 30
                    caracteres</div> -->
            </div>

            <!-- email-->
            <div class="intro-y col-span-6">
                <label class="form-label">Email</label>
                <input formControlName="email" type="text" [class]="'form-control ' + cssValidate('email')">
                <error-message [formControlError]="formProveedor.controls['email']"></error-message>

                <!-- <div *ngIf="formProveedor.controls['email'].hasError('required')" class="text-danger mt-2">Este campo
                    esta vacio</div>
                <div *ngIf="formProveedor.controls['email'].hasError('maxlength')" class="text-danger mt-2">Maximo de 30
                    caracteres</div>
                <div *ngIf="formProveedor.controls['email'].hasError('email')" class="text-danger mt-2">Formato de email
                    incorrecto</div> -->
            </div>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer intro-y">
    <button class="btn btn-primary w-24 mr-2" (click)="actualizarProveedor()">Actualizar</button>
    <button class="btn btn-secondary w-24" (click)="salir()">Atrás</button>
</div>