<!-- Cabecera -->
<div class="flex items-center mt-8">
    <h2 class="intro-y text-lg font-medium mr-auto">
        Actualizar Cliente
    </h2>
</div>

<!-- Inputs -->
<div class="intro-y box py-10 sm:py-10 mt-5">
    <div class="px-10 sm:px-10 dark:border-darkmode-400">

        <div class="font-medium text-base">Cliente</div>

        <form [formGroup]="formCliente">
            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">

                <!-- Nombre Cliente-->
                <div class="intro-y col-span-12 sm:col-span-4">
                    <label class="form-label">Nombre</label>
                    <input formControlName="address" type="text" class="form-control" >
                </div>

                <!-- Documento -->
                <div class="intro-y col-span-12 sm:col-span-4">
                    <label class="form-label">Documento</label>
                    <input formControlName="numberDocument" type="text" class="form-control" >
                </div>

                <!-- Phone -->
                <div class="intro-y col-span-12 sm:col-span-4">
                    <label class="form-label">Nro. Teléfono</label>
                    <input formControlName="phone" type="text" class="form-control" >
                </div>

            </div>
        </form>

        <!-- Options -->
        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
            <button class="btn btn-primary w-24" (click)="actualizarCliente()">Actualizar</button>
            <button class="btn btn-secondary mx-2 w-24" (click)="cerrarVentana()">Atrás</button>
        </div>
    </div>
</div>
