<!-- Cabecera -->
<div class="modal-header">
    <h2 class="intro-y font-medium text-lg mr-auto">Actualizar Contraseña</h2>
</div>

<!-- Cuerpo -->
<div class="modal-body">
    <form [formGroup]="formContrasena">
        <div class="grid grid-cols-12 gap-4 gap-y-5">

            <!-- Contraseña -->
            <div class="intro-y col-span-12 sm:col-span-12">
                <label class="form-label">Contraseña</label>
                <input formControlName="password" type="text" [class]="'form-control ' + cssValidate('password')">
                <error-message [formControlError]="formContrasena.controls['password']"></error-message>
            </div>

        </div>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer intro-y">
    <button class="btn btn-primary mr-3 w-30" (click)="actualizarContrasena()">Actualizar</button>
    <button class="btn btn-secondary w-20" (click)="salir()">Atrás</button>
</div>