<!-- Cabecera -->
<div class="modal-header">
    <h2 class="intro-y font-medium text-lg mr-auto">Ver Producto</h2>
</div>

<!-- Cuerpo -->
<div class="modal-body px-5 sm:px-10">
    <form [formGroup]="formProducto">
        <div class="grid grid-cols-12 gap-4 gap-y-5">

            <!-- Código -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Código</label>
                <input formControlName="code" type="text" class="form-control" readonly>
            </div>

            <!-- Nombre -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Nombre</label>
                <input formControlName="name" type="text" class="form-control" readonly>
            </div>

            <!-- Categoria -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Categoría</label>
                <select class="form-select sm:mr-2 dropdown-content" formControlName="categoryId" readonly>
                    <option *ngFor="let categoria of lCategorias" [value]="categoria.id" disabled>
                        {{categoria.name}}
                    </option>
                </select>
            </div>

            <!-- Prueba -->
            <!-- <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Prueba</label>
                <dropdown 
                    [lArray]="lCategorias"
                    [itemActually]="itemActually"
                    (itemSelected)="itemSeleccionado($event)"
                    >
                </dropdown>
            </div> -->

            <!-- Mostrar en Catalogo -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Mostrar en Catálogo</label>
                <select class="form-select sm:mr-2 dropdown-content" formControlName="showInCatalog" readonly>
                    <option *ngFor="let show of lShowCatalog" [value]="show.value" disabled>
                        {{show.name}}
                    </option>
                </select>
            </div>

            <!-- Precio de compra -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Precio de compra</label>
                <input formControlName="purchasePrice" type="text" class="form-control" readonly>
            </div>

            <!-- Precio de venta -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Precio de venta</label>
                <input formControlName="salesPrice" type="text" class="form-control" readonly>
            </div>

            <!-- Stock Minimo -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Stock Minimo</label>
                <input formControlName="minStock" type="text" class="form-control" readonly>
            </div>

            <!-- Stock Maximo -->
            <div class="intro-y col-span-12 sm:col-span-3">
                <label class="form-label">Stock Maximo</label>
                <input formControlName="maxStock" type="text" class="form-control" readonly>
            </div>

            <!-- Imagen -->
            <div class="intro-y col-span-12 sm:col-span-12">
                <div class="flex flex-col sm:flex-row items-center py-5">
                    <h2 class="font-medium text-base mr-auto">
                        Imagen
                    </h2>
                </div>
                <div class="dropzone">
                    <div class="w-full h-64 my-5 image-contain">
                        <img [src]="urlImage">
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer intro-y">
    <button class="btn btn-primary w-24" (click)="salir()">Atrás</button>
</div>