<!-- Titulo -->
<h2 class="intro-y text-lg font-medium mt-10">
    Gestionar Producto
</h2>

<!-- Cuerpo -->
<div class="grid grid-cols-12 gap-6 mt-5">

    <!-- Cabecera -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-slate-500">
                <input [formControl]="filtro" type="text" class="form-control w-56 box pr-10" placeholder="Buscar producto">
                <lucide-icon class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" name="search"></lucide-icon>
            </div>
        </div>
        <div class="hidden md:block mx-auto text-slate-500">{{Mensaje}}</div>
        <button class="btn btn-primary shadow-md mr-2" (click)="registrarProducto()">Registrar Producto</button>
    </div>

    <!-- Table -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="text-center whitespace-nowrap">CÓDIGO</th>
                    <th class="text-center whitespace-nowrap">IMAGEN</th>
                    <th class="text-center whitespace-nowrap">NOMBRE</th>
                    <th class="text-center whitespace-nowrap">TIPO</th>
                    <th class="text-center whitespace-nowrap">CATÁLOGO</th>
                    <th class="text-center whitespace-nowrap">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr class="intro-x"
                    *ngFor="let producto of lProductos | filterPipe: filtro.value | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td class="text-center font-medium whitespace-nowrap"> {{ producto.id }} </td>
                    <td class="">
                        <div class="flex items-center justify-center text-success">
                            <div class="w-10 h-10 image-fit zoom-in">
                                <img class="rounded-lg border-white shadow-md tooltip" [src]="producto.urlImage"
                                    data-action="zoom">
                            </div>
                        </div>
                    </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ producto.name }} </td>
                    <td class="text-center font-medium whitespace-nowrap"> {{ producto.type }} </td>

                    <td class="w-32">
                        <div [class]="'badge py-1 ' + (producto.showInCatalog ? 'bg-success' : 'bg-danger')">
                            <lucide-icon class="w-4 h-4 mr-2" [name]="producto.showInCatalog ? 'package-check' : 'package-x'">
                            </lucide-icon>
                            <span>{{producto.showInCatalog ? 'Si' : 'No'}}</span>
                        </div>
                    </td>

                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">

                            <button class="flex items-center mr-3 text-primary font-medium" (click)="actualizarProducto(producto.id)">
                                <lucide-icon class="w-4 h-4 mr-1" name="edit"></lucide-icon>
                                Editar
                            </button>

                            <button class="flex items-center mr-3 text-success font-medium" (click)="verProducto(producto.id)">
                                <lucide-icon class="w-4 h-4 mr-1" name="package-search"></lucide-icon>
                                Ver
                            </button>
                            <button class="flex items-center text-secondary font-medium"
                                (click)="verProductoMovimientos(producto.id, producto.name)">
                                <lucide-icon class="w-4 h-4 mr-1" name="truck"></lucide-icon>
                                Movimientos
                            </button>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="intro-y col-span-12 text-right">
        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event">
        </pagination-controls>
    </div>

</div>