<!-- Cabecera -->
<div class="flex items-center mt-8">
    <h2 class="intro-y text-lg font-medium mr-auto">
        Registrar Vehiculo
    </h2>
</div>

<!-- Inputs -->
<div class="intro-y box py-10 sm:py-10 mt-5">
    <div class="px-10 sm:px-10 dark:border-darkmode-400">
        <form [formGroup]="formVehiculo">
        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">

            <!-- Tipo de Vehiculo -->
            <div class="intro-y col-span-6">
                <label class="form-label">Tipo Vehiculo</label>
                <select class="form-select sm:mr-2" formControlName="typeVehicleId">
                    <option [value]="tipoVehiculo.id" *ngFor="let tipoVehiculo of lTipoVehiculo">
                        {{tipoVehiculo.name}}
                    </option>
                </select>
                <div *ngIf="formVehiculo.controls['typeVehicleId'].hasError('required')" class="text-danger mt-2">Este campo esta vacio</div>
            </div>

            <!-- Driver -->
            <div class="intro-y col-span-6">
                <label class="form-label">Conductor</label>
                <select class="form-select sm:mr-2" formControlName="driverId">
                    <option [value]="conductor.id" *ngFor="let conductor of lConductores">
                        {{conductor.firstName}} {{conductor.lastName}}
                    </option>
                </select>
                <div *ngIf="formVehiculo.controls['driverId'].hasError('required')" class="text-danger mt-2">Este campo esta vacio</div>
            </div>

            <!-- Plate -->
            <div class="intro-y col-span-6 mt-5">
                <label class="form-label">Placa</label>
                <input formControlName="plate" type="text" class="form-control">
                <div *ngIf="formVehiculo.controls['plate'].hasError('required')" class="text-danger mt-2">Este campo esta vacio</div>
            </div>

            <!-- Brand -->
            <div class="intro-y col-span-6 mt-5">
                <label class="form-label">Marca</label>
                <input formControlName="brand" type="text" maxLength="30" class="form-control">
                <div *ngIf="formVehiculo.controls['brand'].hasError('required')" class="text-danger mt-2">Este campo esta vacio</div>
                <div *ngIf="formVehiculo.controls['brand'].hasError('maxlength')" class="text-danger mt-2">Maximo de 20 caracteres</div>
            </div>

            <!-- Color -->
            <div class="intro-y col-span-6 mt-5">
                <label class="form-label">Color</label>
                <input formControlName="color" type="text" maxLength="30" class="form-control">
                <div *ngIf="formVehiculo.controls['color'].hasError('required')" class="text-danger mt-2">Este campo esta vacio</div>
                <div *ngIf="formVehiculo.controls['color'].hasError('maxlength')" class="text-danger mt-2">Maximo de 20 caracteres</div>
            </div>

            <!--Boton Registrar y Atras-->
            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                <button class="btn btn-primary w-24" (click)="registrarVehiculo()">Registrar</button>
                <button class="btn btn-secondary mx-2 w-24" (click)="cerrarVentana()">Atrás</button>
            </div>

        </div>
    </form>
    </div>
</div>

<!-- Modal -->
<div [ngClass]="'modal' + modalClass" style="margin-top: 0px; margin-left: 0px; padding-left: 0px; z-index: 10000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="p-5 text-center">
                    <lucide-icon name="check-circle" class="w-16 h-16 text-success mx-auto mt-3"></lucide-icon>
                    <div class="text-3xl mt-5">¡Éxito!</div>
                    <div class="text-slate-500 mt-2">Se registró correctamente.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-primary w-24"
                        (click)="modificarCSSModal()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>