<!-- Cabecera -->
<div class="modal-header">
    <h2 class="intro-y font-medium text-lg mr-auto">Asignar Roles</h2>
</div>

<!-- Cuerpo -->
<div class="modal-body px-5 sm:px-10">
    <form [formGroup]="formUsuario">
        <div class="grid grid-cols-12 gap-4 gap-y-5">

            <!-- Email -->
            <div class="intro-y col-span-6">
                <label class="form-label">E-mail</label>
                <input formControlName="email" type="text" [class]="'form-control ' + cssValidate('email')"  placeholder="Ingrese el email">
                <error-message [formControlError]="formUsuario.controls['email']"></error-message>

                <!-- <div *ngIf="formUsuario.controls['email'].hasError('required')" class="text-danger mt-2">Este campo esta
                    vacio</div>
                <div *ngIf="formUsuario.controls['email'].hasError('maxlength')" class="text-danger mt-2">Maximo de 30
                    caracteres</div>
                <div *ngIf="formUsuario.controls['email'].hasError('email')" class="text-danger mt-2">Formato de email
                    incorrecto</div> -->
            </div>

            <!-- Password -->
            <div class="intro-y col-span-6">
                <label class="form-label">Contraseña</label>
                <input formControlName="password" type="text" [class]="'form-control ' + cssValidate('password')"  placeholder="Ingrese la contraseña">
                <error-message [formControlError]="formUsuario.controls['password']"></error-message>
            </div>

            <!-- First Name -->
            <div class="intro-y col-span-6">
                <label class="form-label">Primer Nombre</label>
                <input formControlName="firstName" type="text" [class]="'form-control ' + cssValidate('firstName')"  placeholder="Ingrese el primer nombre">
                <error-message [formControlError]="formUsuario.controls['firstName']"></error-message>
            </div>

            <!-- Segundo Nombre -->
            <div class="intro-y col-span-6">
                <label class="form-label">Segundo Nombre</label>
                <input formControlName="surName" type="text" [class]="'form-control ' + cssValidate('surName')"  placeholder="Ingrese el segundo nombre">
                <error-message [formControlError]="formUsuario.controls['surName']"></error-message>
            </div>

            <!-- Apellido -->
            <div class="intro-y col-span-6">
                <label class="form-label">Apellido</label>
                <input formControlName="lastName" type="text" [class]="'form-control ' + cssValidate('lastName')"  placeholder="Ingrese el apellido">
                <error-message [formControlError]="formUsuario.controls['lastName']"></error-message>
            </div>

            <!-- Dia de Nacimiento -->
            <div class="intro-y col-span-6">
                <label class="form-label">Fecha de Nacimiento</label>
                <input formControlName="bornDate" type="date" [class]="'form-control ' + cssValidate('bornDate')" >
                <error-message [formControlError]="formUsuario.controls['bornDate']"></error-message>
            </div>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer intro-y">
    <button class="btn btn-primary mr-3 w-24" (click)="registrarUsuario()">Registrar</button>
    <button class="btn btn-secondary w-24" (click)="salir()">Atrás</button>
</div>